<div>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Rechercher des films"
  />
  <button (click)="searchMovies()">Rechercher</button>
  <button (click)="showFav()">Afficher favoris</button>
</div>

<div *ngIf="arrayOfFavMovies.length > 0">
  <h3>Résultats de la recherche :</h3>
  <div *ngFor="let favMovie of arrayOfFavMovies">
    <h2>{{ favMovie.title }}</h2>
    <p>{{ favMovie.overview }}</p>
    <div *ngIf="isFav(favMovie.id)" style="color: yellow">
      * (dans les favoris)
    </div>
  </div>
</div>
<div *ngIf="searchResults.length > 0">
  <h3>Résultats de la recherche :</h3>
  <div *ngFor="let movie of searchResults">
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.overview }}</p>
    <button (click)="likeMovie(movie)" [class.liked]="">Like</button>
    <div *ngIf="isMovieLiked(movie.id)">
      <div style="color: red"><3</div>
    </div>

    <button (click)="addMovieToFav(movie.id)">Ajout en favoris</button>
    <div *ngIf="isFav(movie.id)" style="color: yellow">
      * (dans les favoris)
    </div>
  </div>
</div>
